/*
Setup

Blue - #005eb8
Yellow - #f8981d

*/


/* Navbar */

nav.navbar {
	background-color: #fff;
	padding-bottom: 0;
}

nav.navbar ul {
	
}

nav.navbar ul li {
	background-color: #f8981d;
	font-weight: 600;
	margin-left: 10px;
	padding: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

nav.navbar ul li.active {
	background-color: #005eb8;
}

nav.navbar ul li a {
	color: #fff;
}


/* Jumbotron */

.jumbotron.masthead {
	padding: 0;
}
.jumbotron img {
	max-width: 100%;
}


/* Page Elements */

button.buy-button {
	width: 100%;
	color: #fff;
	background-color: #005eb8;
	font-weight: 600;
}

button.buy-button:hover,
button.buy-button:focus {
	background-color: #f8981d;
}


/* Accordion */


#accordion.homepage .card-header {
	padding: 0;
}

#accordion.homepage .card-header button {
	color: #fff;
	font-weight: 600;
	width: 100%;
	padding: .75rem 1.25rem;
	text-align: left;
	background-color: #f8981d;
}

#accordion.homepage .card-header button.collapsed {
	background-color: #005eb8;
}

#accordion.homepage .card-header button:hover,
#accordion.homepage .card-header button:focus,
#accordion.homepage .card-header button {
	text-decoration: none;
}


#accordion.faqs .card-header {
	padding: 0;
}

#accordion.faqs .card-header button {
	color: #000;
	width: 100%;
	padding: .75rem 1.25rem;
	text-align: left;
}

#accordion.faqs .card-header button:hover,
#accordion.faqs .card-header button:focus,
#accordion.faqs .card-header button {
	text-decoration: none;
}


/* Cards */


/* Carousel */

.carousel-item {
	background-color: #005eb8;
}
