/*
Setup

Blue - #005eb8
Yellow - #f8981d

*/

.bg-blue {
	background-color: #005eb8;
}
.bc-blue {
	border-color: #005eb8;
}

.bg-yellow {
	background-color: #f8981d;
}
.bc-yellow {
	border-color: #f8981d;
}


/* Navbar */

nav.navbar {
	background-color: #fff;
	padding-bottom: 0;
}

nav.navbar ul {
	
}

nav.navbar ul li {
	background-color: #f8981d;
	font-weight: 600;
	margin-left: 10px;
	padding: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

nav.navbar ul li.active {
	background-color: #005eb8;
}

nav.navbar ul li a {
	color: #fff;
}


/* Jumbotron */

.jumbotron.masthead {
	padding: 0;
}
.jumbotron img {
	max-width: 100%;
}


/* Page Elements */

a.buy-button {
	width: 100%;
	color: #fff;
	background-color: #005eb8;
	border-color: #005eb8;
	font-weight: 600;
}

a.buy-button:hover,
a.buy-button:focus {
	background-color: #f8981d;
	border-color: #f8981d;
}

a.facebook {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}
a.facebook:hover,
a.facebook:focus {
	opacity: 0.8;
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}
a.facebook img {
	color: #fff;
}


/* Accordion */


#accordion.homepage .card-header {
	padding: 0;
}

#accordion.homepage .card-header button {
	color: #fff;
	font-weight: 600;
	width: 100%;
	padding: .75rem 1.25rem;
	text-align: left;
	background-color: #f8981d;
}

#accordion.homepage .card-header button.collapsed {
	background-color: #005eb8;
}

#accordion.homepage .card-header button:hover,
#accordion.homepage .card-header button:focus,
#accordion.homepage .card-header button {
	text-decoration: none;
}


#accordion.faqs .card-header {
	padding: 0;
}

#accordion.faqs .card-header button {
	color: #000;
	width: 100%;
	padding: .75rem 1.25rem;
	text-align: left;
}

#accordion.faqs .card-header button:hover,
#accordion.faqs .card-header button:focus,
#accordion.faqs .card-header button {
	text-decoration: none;
}


/* Cards */


/* Carousel */

.homepage .carousel-item {
	background-color: #005eb8;
}

.buypage .carousel-item {
	background-color: #ccc;
}


/* Footer */

footer {
	background-color: #ddd;
	margin-top: 3rem;
}
footer .container {
	padding: 3rem 0;
}
footer .row {
	margin-bottom: 3rem;
	text-align: center;
}

footer #mc_embed_signup_scroll label {
	display: block;
	font-size: 1.4rem;
	font-weight: 600;
	
}