	<footer>
		<div class="container">
			<div class="row">
				<div class="col">
					<p>
					We link to third party websites where we cannot be held responsible for their content. Offers and deals we promote are subject to change and may happen before we can update our site. Please check they are accurate when you go to make any purchases.
					</p> 
					<p>
					helpfightcovid19 is a participant in the Amazon EU Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.co.uk.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<!-- Begin Mailchimp Signup Form -->
					<div id="mc_embed_signup">
					<form action="https://helpfightcovid19.us19.list-manage.com/subscribe/post?u=bcdfb9d96024019edae238da3&amp;id=b58ef614b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<div class="form-group">
								<label for="mce-EMAIL">Sign up for updates</label>
								<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your email address" required>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bcdfb9d96024019edae238da3_b58ef614b4" tabindex="-1" value=""></div>
							</div>
							<button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-light w-100">Subscribe</button>
						</div>
					</form>
					</div>

					<!--End mc_embed_signup-->
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="https://www.facebook.com/helpfightcovid19/" class="btn btn-dark facebook">
						<img src="{{ site.baseurl }}/media/facebook-f-brands-w.svg" style="width: 15px;" alt="facebook logo" />
						<span class="ml-1">Join us on facebook</span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="/terms" class="btn btn-dark w-100">Terms and Conditions</a>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?thirdparty=1&always=1&noGeoIp=1"></script>
	<script src="{{ site.baseurl }}/js/scripts.js"></script>
</body>
</html>