<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Help Fight Covid-19</title>
	<meta name="description" content="Help us raise additional funds for the NHS in these unprecedented times.">
	<meta name="author" content="Help Fight Covid-19">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css?v=1.0">
	
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	
	<script>
		function contactSubmit(token) {
			document.getElementById("contact-form").submit();
		}
	</script>

</head>

<body>