<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Help Fight Covid-19</title>
	<meta name="description" content="Help us raise additional funds for the NHS in these unprecedented times.">
	<meta name="author" content="Help Fight Covid-19">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css?v=1.0">
	
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	
	<script>
		function contactSubmit(token) {
		
			  const form = document.getElementById("contact-form");

			  let data = {};
			  let formdata = new FormData(form);
			  for (let tuple of formdata.entries()) data[tuple[0]] = tuple[1];
			  
			  fetch(form.action, {
				method: form.method,
				body: JSON.stringify(data),
				headers: {
					'X-Debug-Mode': 'true'
				}
			  })
			  .then(response => {
				return response.json()
			  })
			  .then(data => {
				window.location.href = data.headers.location
			  })
			  .catch(err => {
				console.log('error')
			  });

			  e.preventDefault();
		}
	</script>

</head>

<body>