<div class="container">
	<div class="row">
		<div class="col">
			<nav class="navbar navbar-expand">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="nav navbar-nav ml-auto">
					{% for link in site.data.nav %}
						{% assign cleanurl = page.url | remove: ".html" %}
						{% if cleanurl == link.url %}
							{% assign isactive = true %}
						{% elsif page.layout == "post" and link.url == "/blog" %}
							{% assign isactive = true %}
						{% else %}
							{% assign isactive = false %}
						{% endif %}
						<li class="nav-item{% if isactive %} active{% endif %}">
							<a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endfor %}
					</ul>
				  </div>
			</nav>
		</div>
	</div>
</div>